a {
    text-decoration: none;
}

.content {
    @media (max-width: 500px) {
        padding-top: 135px;
    }
}

nav {
    background-color: #071621;
    padding: 10px;
    height: 75px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 11;

    @media (max-width: 500px) {
        justify-content: center;
        margin-bottom: 60px;
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
    }

    header {
        font-family: "Londrina Solid", cursive;
        color: #f07f1f;
        line-height: 27px;
        font-size: 33px;
        transition: color 0.3s;

        &:hover {
            color: white;
        }

        span {
            font-size: 30px;
        }
    }

    input {
        text-align: left;
        margin: 0 40px;
        padding: 10px;
        width: 400px;

        @media (max-width: 500px) {
            width: 100%;
            margin-top: 9px;
        }

        &:focus-visible {
            outline: 0;
        }
    }

    .brand {
        display: flex;

        a {
            z-index: 20;
        }

        @media (max-width: 500px) {
            flex-direction: column;
            position: absolute;
            top: 9px;
            left: 0;
            width: 100vw;
            align-items: center;
        }

        .cart-menu {
            display: none;
            @media (max-width: 500px) {
                display: block;
                position: absolute;
                right: 12px;
                top: 70px;
            }
        }

        .burger-menus {
            display: flex;
            position: absolute;
            top: 5px;
            left: 0;
            right: 0;
            display: flex;
            justify-content: space-between;

            i {
                color: white;
                font-size: 30px;
                margin: 0 9px;
            }
            @media (min-width: 500px) {
                display: none;
            }
        }
    }

    .links {
        display: flex;
        align-items: center;
        height: 100%;

        @media (max-width: 500px) {
            display: none;
            background-color: #071621;
            flex-direction: column;
            height: auto;
            z-index: 10;
            position: absolute;
            right: 0px;
            top: 48px;
            padding: 17px;
            animation: tilt-in-fwd-tr 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
                both;
        }
        a {
            color: white;
            height: 100%;
            line-height: 51px;
            font-size: 17px;
            transition: background-color 0.3s;
            width: 133px;

            @media (max-width: 500px) {
                width: 100%;
            }
            &:hover {
                background-color: #403022;
            }
        }

        a:nth-child(2) {
            i {
                padding-top: 7px;
                font-size: 33px;
            }
        }
    }
}

.categories {
    background-color: #e6e6e6;
    position: sticky;
    top: 0;
    z-index: 100;
    margin-bottom: -16px;

    @media (min-width: 500px) {
        display: block;
    }

    @media (max-width: 500px) {
        height: 100vh;
        position: fixed;
        width: 100vw;
        top: 119px;
        transform: translateX(-100%);
        transition: all 0.3s ease 0s;
    }

    ul {
        list-style: none;
        display: flex;
        padding: 0;

        @media (max-width: 500px) {
            flex-direction: column;
        }

        li {
            padding: 5px 25px;
            font-family: monospace;
            font-size: 20px;
            cursor: pointer;
            transition: background-color 0.3s;
            color: black;

            &:hover {
                background-color: rgb(170, 215, 255);
            }
        }
    }

    &__selected {
        background-color: rgb(170, 215, 255);
    }
}

.message {
    background-color: #071621;

    @media (max-width: 500px) {
        margin-top: -15px;
    }

    p {
        font-family: monospace;
        font-size: 20px;
        color: white;
        padding: 4px;
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2021-7-1 21:15:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@keyframes tilt-in-fwd-tr {
    0% {
        -webkit-transform: rotateY(20deg) rotateX(35deg)
            translate(300px, -300px) skew(-35deg, 10deg);
        transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px)
            skew(-35deg, 10deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0)
            skew(0deg, 0deg);
        transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
        opacity: 1;
    }
}

@keyframes category-slide-in {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
